.form {
	position: relative;
	width: 800px;
	padding: var(--outer-margin);
	padding-top: 0;

	@include mq($until: desktop) {
		width: 100%;
	}

	.image {
		position: relative;
		width: 100%;
		min-height: 20vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1em;
		border: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-gray-4);
		border-radius: var(--mantine-radius-default);

		&.error {
			border: calc(0.0625rem * var(--mantine-scale)) solid var(--mantine-color-error);
		}

		.wrap {
			text-align: center;
		}
		img {
			top: 0;
			left: 0;
			width: 100%;
			object-fit: contain;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.date {
		> div > button {
			text-transform: capitalize;
		}
	}

	.submit {
		margin-top: var(--space);
	}
	.error {
		color: var(--error);
	}

	.label {
		font-size: var(--input-label-size, var(--mantine-font-size-sm));
		.asterisk {
			color: var(--mantine-color-error);
		}
	}
	.newlocation {
		width: 100%;
		padding: 1rem;
		border: 1px solid var(--yellow);
		border-top: 0;

		button {
			margin: unset;
		}
	}
}

.success {
	position: relative;
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var(--outer-margin);
	h3 {
		padding: 0;
	}
	p {
		margin-bottom: var(--space);
	}
	@include mq($until: desktop) {
		p {
			text-align: center;
		}
		height: 90vh;
	}
}

.button:hover {
	background-color: var(--yellow);
	color: var(--black);
}

.button[data-disabled='true'] {
	background-color: var(--mantine-color-disabled);
}
