.filter {
  font-family: var(--label-font);
  width: 100%;
  margin-bottom: var(--space);

  @include mq($from: desktop) {
    margin-bottom: var(--space-big);
  }

  .part {
    display: flex;
    align-items: center;

    @include mq($from: desktop) {
      position: absolute;
      right: var(--outer-margin);
    }
    @include mq($until: desktop) {
      width: 100%;
      padding-top: 1rem;
      justify-content: center;
    }
    span {
      position: relative;
      margin: 0.5rem;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: var(--yellow);
      display: inline-block;
    }
  }

  .wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @include mq($until: desktop) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .show {
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    overflow-x: scroll;
    scrollbar-width: none;

    @include mq($until: desktop) {
      padding-right: calc(1 * var(--outer-margin));
    }

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      margin-left: 0.5rem;

      &:last-child {
        margin-right: 0;
      }

      button {
        margin-top: 0;
        margin: 0;

        &[aria-selected="true"] {
          color: var(--black);
          background-color: var(--yellow);
        }
      }
    }
  }
}
