.page {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--outer-margin);

  section {
    ul {
      list-style: none;

      li {
        flex: 0 0 25%;
      }
    }
  }
}
