.editor {
	&.focused {
		border-color: var(--yellow);
	}

	.toolbar {
		button {
			margin-right: 1px;
			border: 1px solid transparent;
			&[data-active='true'] {
				color: var(--black);
				background-color: var(--mantine-color-gray-1);
				border-color: var(--mantine-color-gray-3);
			}
		}
	}

	&.invalid {
		border: 1px solid var(--mantine-color-error);
		&:hover {
			border: 1px solid var(--mantine-color-error);
		}
	}
}

.label {
	font-size: var(--input-label-size, var(--mantine-font-size-sm));
	.asterisk {
		color: var(--mantine-color-error);
	}
}

.error {
	color: var(--mantine-color-error);
	line-height: 1.2;
	margin: 0;
	margin-top: 0.2em;
	font-size: var(--input-error-size, calc(var(--mantine-font-size-sm) - calc(0.125rem * var(--mantine-scale))));
}
