.meta {
  list-style: none;
  background-color: var(--yellow);
  padding: 2rem;
  margin-top: 4rem;
  line-height: var(--line-height);
  @include mq($from: desktop) {
    columns: 2;
  }

  li {
    padding-bottom: 0.5rem;
  }
}
