.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  width: 100%;
  padding: var(--outer-margin);
  color: var(--white);
  line-height: var(--line-height);

  * {
    color: var(--white);
  }

  a {
    border-bottom: 1px solid var(--yellow);
  }

  .contact {
    text-align: right;

    a {
      margin-left: 1em;
      white-space: nowrap;
    }

    @include mq($from: desktop) {
      width: 50em;
    }

  }
}